<h1>Editing Coupon</h1>

<%= form_tag coupon_path(@coupon) do %>
    <%= text_field_tag :'coupon[coupon_code]', @coupon.coupon_code %>
    <%= text_field_tag :'coupon[store]', @coupon.store %>

    <%= submit_tag "Submit Coupon" %>
<% end %>

<%= link_to 'Show', @coupon %> |
<%= link_to 'Back', coupons_path %>
